.container {
    display: flex;
    align-items: center;
    margin-top: 200px;
    flex-direction: column;
    background-color: antiquewhite;
    padding-bottom: 30px;
}

.form-sb {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: antiquewhite;
    padding-bottom: 30px;
}

.header {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 9px;
    width: 100%;
    padding-bottom: 30px;
}

.text {
    color: brown;
    font-size: 48px;
    font-weight: 700;
}

.inputs {
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.input {
    display: flex;
    align-items: center;
    margin: auto;
    width: 480px;
    height: 80px;
    background: #eaeaea;
    border-radius: 8px;
}

.input input {
    height: 50px;
    width: 400px;
    background: transparent;
    border: none;
    outline: none;
    color: #797979;
    font-size: 19px;
}

.forgot-password {
    padding-left : 62px;
    margin-top: 27px;
    color: #797979;
    font-size: 18px;
}

.forgot-password span {
    color: #797979;
    cursor:pointer
 
}

.submit-container {
    display: flex;
    gap: 30 px;
    margin: 60px auto;

}

.submit {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 228px;
    height: 59px;
    color: #fff;
    background-color:red;
    border-radius: 50px;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
}